Source: gvt
Section: main
Priority: optional
Maintainer: Peter Mogensen <apm@one.com>
Build-Depends: debhelper (>= 9.0.0), dh-golang, golang-go (>= 1.5)
Standards-Version: 3.9.4

Package: gvt
Architecture: any
Suggests: golang-go
Description: Go vendoring tool
 Manage code in the vendor directory of a Go package.
